.imagem{
    background-image: url(/cassio.png);
    background-repeat: no-repeat;
    background-position: center;
}
table, html{
    height: 100%;
}
.background{
    width: 100%;
    height: 100%;
    background-image: url(/Dark-Black-Background-Desktop-HD-Wallpaper-40745.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -0%;
    filter: blur(10%);
    filter: contrast(-50%);
}
#texto{
    color: aliceblue;
}
body, html{
    margin: 0%;
}
header, html{
    padding: 0px;
   
}
.linkG{
    text-decoration:none;
    color: rgb(255, 255, 255);
}
.googleIM{
    width:5% ;
    height: 10%;
    display: inline;
    padding-right: 50%;
    width: 5%;
}
